.front{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  p{
    font-size: 1.3em;
  }
}

.results{
  width: 100%;

  div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.2em;
  }
}

.value{
  font-weight: 700;
}

@media screen and (min-width: 30em){

  .front{
    p{
      font-size: 2em;
    }
  }
}
